.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;

    &__logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        // min-width: 10rem;
        // min-height: 2rem;
        
        >img{
            max-height: 2rem;
            // color: white;
            // border: 1px solid white;
            // padding: .5rem;
            // border-radius: 5px;
        }

        button{
            display: none;
        }
    }

    &__menu{
        min-width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
         
        &-item{
            padding: .5rem 1rem;
            cursor: pointer;
            transition: all .2s ease-in-out;
            white-space: nowrap;
            color: white;
            background-color: transparent;
            border:none;
            border-radius: 5px;

            &:hover{
                background-color: #ffffff38;
            }
        }
    }

    @media (max-width: 700px){
        flex-direction: column;
        padding: 1rem 1rem;
        align-items: center;
        transition: ease-in-out 1s;

        &__logo{
            width: 100%;

            button{
                display: block;
                padding: .5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s ease-in;
                white-space: nowrap;
                border:none
            }
        }

        &__menu{
            display:none;
            
            &--expanded{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                max-width: 400px;
            }
            
            &-item{
                text-align: center;
                padding: 1rem 0;
                width: 100%;
            }
        }
    }
}

