.custom-button{
    border:none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
    white-space: nowrap;

    &:hover{
        background-color: #aaa;
    }

}

